# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go files
go.work
go.work.sum

# Dependencies
node_modules
dist
test-results/
package-lock.json
yarn.lock
vite.config.js.timestamp-*
/packages/create-svelte/template/CHANGELOG.md
/packages/package/test/**/package
/documentation/types.js

# Build outputs
.output
.vercel
.svelte-kit
.cloudflare
.netlify
.turbo
.test-tmp
symlink-from
/build

# env file
.env
.env.*
!.env.example

# IDE
.idea/

# OS
.DS_Store
Thumbs.db
