body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-right: 128px;
    padding-left: 128px;
    background-color: #010101;
    background-image: url("/PinkEllipse.svg"), url("/YellowEllipse.svg"), url("/Star.svg"), url("/yellow_bottom.svg"), url("/pink_bottom.svg"); 
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat; 
    background-position: -70vh -20vh, 200% -200%, -100% 50%, 170% 120%, -50% 120%; 
}

h1, h2, h3, h4, p, ul{
    margin: 0;
    padding: 0
}
:root {
    --gradient: linear-gradient(120deg, #E5469A, #FBA31C);
    --light-grey: #F3F3F3;
    --dark-grey: #A2A2A2;
    --black: #1A1A1A;
    --pink: #E5429F;
    --yellow: #FFE99E;
    --IgraSans: "Igra Sans Variable";
}
@font-face {
    font-family: "Igra";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("$lib/fonts/IgraSans.otf");
}
/* noto-sans-display-latin-wght-normal */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("$lib/fonts/Manrope-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url("$lib/fonts/Montserrat-VariableFont_wght.ttf");
}
