body {
    box-sizing: border-box;
    margin: 0;
    padding-right: 128px;
    padding-left: 128px;
    background-color: #010101;
    background-image: url("PinkEllipse.svg"), url("YellowEllipse.svg"), url("Star.svg"); 
    background-repeat: no-repeat, no-repeat, no-repeat; 
    background-position-x: -500px, 1375px, 0;
    background-position-y: -100px, -700px , 1000px;
}
